<h2>ALL EMPLOYEES</h2>

<table>
    <thead>
        <th>Employee Name</th>
        <th>Employee ID</th>
        <th>Job Title</th>
        <th>Salary</th>
        <th>Hire Date</th>
    </thead>
    <thead>
        <tr ng-repeat="employee in tc.allEmployees.list">
            <td> {{employee.name}} </td>
            <td> {{employee.employeeID}} </td>
            <td> {{employee.jobTitle}} </td>
            <td> {{employee.salary}} </td>
            <td> {{employee.dateHired}} </td>
            <td> <button ng-click="tc.deleteEmployee(employee)">Terminate</button> </td>

        </tr>
    </thead>
</table>